body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.song-list {
    background-color: #4b2c19;
    padding: 10px;
    width: 250px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#menu-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

#song-search {
    flex-grow: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#search-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#song-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    height: 400px;
}

#song-list li {
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

#song-list li:hover {
    background-color: #333;
}

.player {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    border-left: 2px solid #ff6600;
}

.album-art img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.song-info {
    text-align: center;
}

#song-name {
    margin-bottom: 20px;
    font-size: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.control-btn {
    background-color: #ff6600;
    border: none;
    color: white;
    font-size: 24px;
    margin: 0 15px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#progress-bar {
    width: 80%;
    margin: 0 10px;
}

#current-time,
#duration {
    font-size: 14px;
}
